* {
  margin: 0;
}

html {
  background-color: snow;
}

#header {
  width: 100%;
  display: flex;
  min-height: 50px;
  max-height: 100px;
  justify-content: center;
  background-color: bisque;
}

#images-header {
  display: flex;
  max-height: 100%;
  width: 50%;
  justify-content: center;
}

#image-1 {
  max-width: 70%;
  object-fit: scale-down;
}

#image-2 {
  max-width: 30%;
  object-fit: scale-down;
}

main {
  background-color: snow;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

#section-input {
  margin: auto;
  padding: 20px 0;
  font-weight: 900;
  font-size: larger;
}

#section-info {
  margin: auto;
  font-weight: 900;
  color: red;
  font-style: italic;
}

#section-btn {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#btn-search {
  margin: 0 5px 0 0;
}

#btn-random {
  margin: 0 0 0 5px;
}

#info-pokemon {
  margin: auto;
  padding: 20px 0;
}

.card {
  width: 20rem;
  margin: auto;
}

.images {
  display: flex;
}

@media screen and (max-width: 400px) {
  #images-header {
    width: 70%;
  }

  #section-input {
    width: 90%;
    font-size: medium;
  }

  #section-btn {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  #section-btn button {
    font-size: smaller;
    margin: 0;
  }

  #info-pokemon {
    max-width: 90%;
  }

  .card {
    max-width: 100%;
  }

  .card-img-top {
    max-width: 50%;
  }
}